[Unit]
Description=JokeBot
After=syslog.target
After=network.target
After=memcached.service redis.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Code/DiscordBot/MyBots
ExecStart=/usr/local/bin/python3.7 /home/pi/Code/DiscordBot/MyBots/JokeBot.py
Restart=always
Environment=USER=pi HOME=/home/pi

[Install]
WantedBy=multi-user.target